___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [25]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [24]:
df.to_csv('example',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [35]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Excel Output

In [33]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [11]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_Miss_Universe_titleholders')

In [18]:
df = df[0]
df

In [23]:
df.rename(columns={'Age[a]':'Age'}, inplace=True)
df

,Year,Country or territory,Titleholder,Age,Hometown,National title,Date,Entrants
0,1952,Finland,Armi Kuusela[1],17,Muhos,Suomen Neito 1952,28 June 1952,30
1,1953,France,Christiane Martel[2],18,Créteil,Miss Cinémonde 1953,17 July 1953,26
2,1954,United States,Miriam Stevenson[3],21,Winnsboro,Miss USA 1954,24 July 1954,33
3,1955,Sweden,Hillevi Rombin[4][5],21,Uppsala,Fröken Sverige 1955,22 July 1955,33
4,1956,United States,Carol Morris[6],20,Ottumwa,Miss USA 1956,20 July 1956,30
...,...,...,...,...,...,...,...,...
68,2019,South Africa,Zozibini Tunzi,26,Tsolo,Miss South Africa 2019,8 December 2019,90
69,2020,Mexico,Andrea Meza,26,Chihuahua City,Mexicana Universal 2020,16 May 2021,74
70,2021,India,Harnaaz Sandhu[60],21,Chandigarh,Miss Diva Universe 2021,13 December 2021,80
71,2022,United States,R'Bonney Gabriel,28,Houston,Miss USA 2022,14 January 2023,83
72,2023,Nicaragua,Sheynnis Palacios[61],23,Diriamba,Miss Nicaragua 2023,18 November 2023,84

In [24]:
df['Titleholder'] = df['Titleholder'].replace('[\[^0-9\]]', '', regex=True)
df

,Year,Country or territory,Titleholder,Age,Hometown,National title,Date,Entrants
0,1952,Finland,Armi Kuusela,17,Muhos,Suomen Neito 1952,28 June 1952,30
1,1953,France,Christiane Martel,18,Créteil,Miss Cinémonde 1953,17 July 1953,26
2,1954,United States,Miriam Stevenson,21,Winnsboro,Miss USA 1954,24 July 1954,33
3,1955,Sweden,Hillevi Rombin,21,Uppsala,Fröken Sverige 1955,22 July 1955,33
4,1956,United States,Carol Morris,20,Ottumwa,Miss USA 1956,20 July 1956,30
...,...,...,...,...,...,...,...,...
68,2019,South Africa,Zozibini Tunzi,26,Tsolo,Miss South Africa 2019,8 December 2019,90
69,2020,Mexico,Andrea Meza,26,Chihuahua City,Mexicana Universal 2020,16 May 2021,74
70,2021,India,Harnaaz Sandhu,21,Chandigarh,Miss Diva Universe 2021,13 December 2021,80
71,2022,United States,R'Bonney Gabriel,28,Houston,Miss USA 2022,14 January 2023,83
72,2023,Nicaragua,Sheynnis Palacios,23,Diriamba,Miss Nicaragua 2023,18 November 2023,84

____

_____
_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [36]:
from sqlalchemy import create_engine

In [37]:
engine = create_engine('sqlite:///:memory:')

In [40]:
df.to_sql('data', engine)

In [42]:
sql_df = pd.read_sql('data',con=engine)

In [43]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

# Great Job!